.about{
    background-color: #D4E1D8;
    padding: 4rem 2rem 1rem;
    display: block;
}
.aboutImg{
    background-image: url(./images/about-img.jpg);
    width: 75%;
    height: 20rem;
    border-radius: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1 ;
    left: 1rem;
}
.aboutIntro{
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding: 2.5rem;
    
}

body{
    font-family: 'Assistant', sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua;
    direction:rtl;
}

.circle {
    margin:  0 auto 0 auto;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    position:relative;
    bottom: 5rem;
    z-index: -2;
    display: flow-root;
    
}

.container{
    padding: 1rem;
    padding-top: 2rem;
}

.darkHeading{
    color: #3B5B66;
    margin: auto 0.5rem;
    /* text-shadow: 1px 1px 2px #3B5B66; */
}

.discription{
    background-color: white;
    padding: 6rem 2rem 2rem 2rem;
    width: 70%;
    border-radius: 0.5rem;
    position: relative;
    right: 2.4rem;
    bottom: 4rem;
    
}

.faceVid{
    background-image: url("./images/desertWithBackground.jpg") ;
    /* Full height */
  height:  55rem;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faceVid h1{
    color: white;
    text-align:justify;
    margin: 0;
    /* font-size: 400%; */
    padding-top:  3rem;
}
.frontImg{
    background-image: url("./images/deserNoBackground1.png");
    height:  100%;
    width: 100%; 
    /* Center and scale the image nicely */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0px;
}


h1{
    color: white;
 font-size: 55px;
}

h2{
    font-size: 40px;
}




#logo{
    font-style: bold;
    margin: 0;

}

.lightHeading{
    color: white;
    margin: auto 0.5rem;
}

.mainHeading{
    display: inline-block;
    padding-top: 2rem;
}

.navbar{
    background-color: white;
    position: fixed;
    text-align: center;
    margin: 0 11.5%;
    width: 70%;
    border-radius: 0 0 10rem 10rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #3B5B66;
    padding:1.5% 3.5%;

    z-index: 2;
}

.navbar p{
    font-weight: bold;
    padding-left: 0.5rem;
    font-size: 14px;
}

p{
    font-size: 0.7rem;
}

.previewProduct{
    text-align: end;
    margin: 0 auto 0 auto;
    padding: 1rem 2rem;
    
}

.previewProduct img{
    display: flow-root;
    position: absolute;
    bottom: 15rem;
    z-index: -1;
    max-width: 70%;
    height: auto;
    margin: 0 auto 0 auto;

}

.productDiscription{
    text-align: center;
    padding : 1rem;
    /* position: relative; */
}

.productDiscription button{
    display: block;
    min-width: 11rem;
    margin: 1rem auto 1rem auto;
}

.rectengle{
    text-align: center;
    margin: 2.3rem 5% 0 5%;
    width: 70%;
    height: 40rem;
    border: 0.8rem;
    border-style: solid;
    border-color: #F29E9B;
    /* display: inline-block; */
    position: absolute;
}

.review{
    background-color: white;
    padding: 1rem;
}

.swiper-button-next,
.swiper-button-prev{
    color: white !important;
}

.testimonials{
    background-color: #D4E1D8;
}

